<form action='' method='POST'>
  <div>
    <input type='text' name='email'>
  </div>
  <div>
    <input type='password' name='password'>
  </div>
  <div>
    <input type='text' name='name' value='Cary Yang'>
  </div>
  <div>
    <input type='text' name='address' value='San Fransisco'>
  </div>
  <div>
    <input type='text' name='phone' value='+14159308937'>
  </div>
  <div>
    <input type='checkbox' name='is_expert'>
  </div>

  <div>
    <input type='submit' value='Register'>
  </div>
</form>
